@import 'colors';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $body-background-color;
}

header {
    color: $inverse-text-color;
    background-color: $header-color;

    .title {
        margin: 0;
        padding: 12px;
    }
}

main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.graph-container {
    flex: 1 1 auto;
    margin: 40px;
    background-color: $graph-background-color;
    min-width: 600px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 600px;
}

svg {
    text {
        text-transform: uppercase;
        font-family: Verdana, sans-serif;
        fill: $text-color;
    }

    text.label {
        fill: $faded-text-color;
        font-size: 12px;
    }

    text.data-num {
        font-size: 26px;
    }

    .axis path, .axis line {
        stroke: $faded-text-color;
    }

    .axis text {
        fill: $faded-text-color;
    }

    text.axis-title {
        fill: $faded-text-color;
        font-size: 11px;
    }

    text.date-label {
        font-size: 11px;
    }

    .grid path, .grid line {
        stroke: $faded-text-color;
        stroke-dasharray: 2 6;
    }

    .info-box svg {
        display: none;

        &.active {
            display: block;
        }
    }
}
